/* Mobile first */
.NewsList {
  display: grid;
  width: 100%;
  column-gap: var(--card-column-gap);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 550px), 1fr));
  grid-auto-rows: var(--card-mobile-height);
  row-gap: var(--card-mobile-row-gap);
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .NewsList {
    grid-auto-rows: var(--card-height);
    row-gap: var(--card-row-gap);
  }
}
