.App {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-size);
  background-image: linear-gradient(to bottom, var(--header-gradient));
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

.header__content {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 var(--lateral-margin);
}

header h1 {
  color: var(--text-color-logo);
  font-weight: normal;
  font-size: 28px;
  font-family: Baskerville;
}

header img {
  height: 28px;
}

main {
  width: 100%;
  padding: var(--header-margin) 0 var(--bottom-margin);
}

.main__content {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  grid-template-rows: 0.5fr 108px minmax(450px, auto) 1fr;
  grid-template-columns: 1fr;
  padding: 0 var(--lateral-margin);
}

.main__content > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__content-tabs {
  padding-bottom: 25px;
}

.main__content-dropdown {
  padding: 38px 0;
}

.main__content-list {
}

.main__content-pagination {
  align-items: flex-end;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .main__content-dropdown {
    justify-content: flex-start !important;
  }
}
