@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  /* Size Tokens, mobile first*/
  --header-size: 84px;
  --header-margin: 30px;
  --bottom-margin: 40px;
  --lateral-margin: 16px;
  --card-height: 90px;
  --card-row-gap: 30px;
  --card-column-gap: 40px;
  --card-border-radius: 6px;
  --card-favorite-size: 68px;
  --card-padding-left: 26px;
  --card-padding-right: 16px;
  /* Smaller for better mobile experience  */
  --card-mobile-row-gap: 10px;
  --card-mobile-padding: 10px;
  /* Bigger for better mobile experience  */
  --card-mobile-height: 120px;
  --dropdown-width: 240px;
  --dropdown-height: 32px;

  /* Color Tokens */
  --background-color: #fcfcfc;
  --foreground-color: #ffffff;
  --foreground-color-light: #f5f5f5;
  --header-gradient: #ececec -32%, #ffffff 124%;
  --border-color: #979797;
  --border-color-light: #d6d6d6;
  --border-color-strong: #2e2e2e;
  --border-color-selected: #1797ff;
  --border-color-pagination: #d9d9d9;
  --text-color-logo: #3b3b3b;
  --text-color-list: #343434;
  --text-color-regular: #6b6b6b;
  --text-color-tab: #606060;
  --text-color-date: #767676;
  --text-color-selected-tab: #1797ff;
  --list-color-selected: #eaeaea;
  --list-color-shadow: #dad8d8;
  --pagination-color-selected: #1890ff;
  --pagination-text-color-selected: #ffffff;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  :root {
    --header-size: 114px;
    --header-margin: 70px;
    --bottom-margin: 100px;
    --lateral-margin: 24px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
