@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --background-color: #fcfcfc;
  --foreground-color: #ffffff;
  --foreground-color-light: #f5f5f5;
  --header-gradient: #ececec -32%, #ffffff 124%;
  --border-color: #979797;
  --border-color-light: #d6d6d6;
  --border-color-strong: #2e2e2e;
  --border-color-selected: #1797ff;
  --border-color-pagination: #d9d9d9;
  --text-color-list: #343434;
  --text-color-regular: #6b6b6b;
  --text-color-date: #767676;
  --text-color-selected-tab: #1797ff;
  --list-color-selected: #eaeaea;
  --list-color-shadow: #dad8d8;
  --pagination-color-selected: #1890ff;
  --pagination-text-color-selected: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
